body{
    font:15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
}
 /* Global */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button{
    color: #ffffff;
    background-color: #e8491d;
    border: 0;
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
}
.dark{
    padding:15px;
    background-color:#35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
/* header*/
header{
    background:#35424a;
    color: #ffffff;
    padding-top: 30px;
    min-width: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight,header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}


#showcase{
    min-height: 400px;
    background:url(../img/showcase.jpg) no-repeat 0 -400px;
    text-align: center;
    color:#ffffff;
} 

#showcase h1{
 margin-top: 100px;
 margin-bottom: 10px;
 font-size: 55px;

}
#showcase p{
    font-size: 20px;
}
#newsletter{
    padding: 15px;
    background: #35424a;
    color:#ffffff;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float:right;
    margin-top: 20px;
}

#newsletter input[type='email']{
    padding: 4px;
    width: 250px;
    height: 25px;
}
#boxes{
    margin-top: 20px;
}
#boxes .box{
    width: 30%;
    float: left;
    text-align: center;
    padding:10px;
}
#boxes .box img{
    width:90px;
}
article#main-col{
    float: left;
    width: 65%;

}
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
footer{
    background-color: #e8491d;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}